	Selector {
		property
	}



	h1 {
		color: rgb(255,0,0);
		}
	li {
		color: rgb(255,150,0);
		}
	h4 {
		background: rgb(200,200,200);
		color: rgb(200,0,255);
		}
	h2 {
		color: rgba(200,0,255,.4);
		}
	body {
			background: Linen;
		/*background: url("images/CircuitBoard.jpg");
		background-repeat: no-repeat;
		background-size: cover;*/
		/*opacity: .05;*/
	}
	div {
		/*border-color: Blue;
		border-width: 5px;
		border-style: Solid;*/
		border: 2px Solid Blue;
		background: Grey;
		padding: 5px;	
	}